# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env

# Fichiers temporaires ou de build
temp/
dist/
build/

# Autres
*.log